html, .view body { background-color: black; counter-reset: slideidx; }
body, .view section { background-color: white; border-radius: 12px }

/* A section is a slide. It's size is 800x600, and this will never change */

section, .view head > title {
  font-family: 'Istok Web', Arial, sans-serif;
  font-size: 32px;
}

.view section:after {
  counter-increment: slideidx;
  content: counter(slideidx, decimal-leading-zero);
  position: absolute; bottom: -80px; right: 100px;
  color: white;
}

.view head > title {
  color: white;
  text-align: center;
  margin: 1em 0 1em 0;
}

li {
  margin-top: .2em;
}

code {
  background: #f8f8ff
}

pre code {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

pre {
  display: block;
  padding: 0;
  position: relative;
  width: 90%;
  margin: 10px auto;
  text-align: left;
  font-size: 16px;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  vertical-align: baseline;
}

h1, h2 {
  font-family: 'Oswald', League Gothic, arial, sans-serif;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 80px;
}

h2 {
  margin: 40px 0 30px 100px;
  font-size: 50px;
}

h3 {
  margin: 40px 0 50px 80px;
}

ul {
    margin: 30px 100px 40px 100px;
}

a {
  text-decoration: none;
}

p {
  margin: 75px;
  font-size: 50px;
}

blockquote {
  height: 100%;
  background-color: black;
  color: white;
  font-size: 60px;
  padding: 50px;
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}

/* Figures are displayed full-page, with the caption
   on top of the image/video */
figure {
  background-color: black;
}
figcaption {
  margin: 70px;
  font-size: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px;
  text-align: right;
  background-color: #F3F4F8;
  border-top: 1px solid #CCC;
}

/* Transition effect */
/* Feel free to change the transition effect for original
   animations. See here:
   https://developer.mozilla.org/en/CSS/CSS_transitions
   How to use CSS3 Transitions: */
section {
  -moz-transition: left 400ms linear 0s;
  -webkit-transition: left 400ms linear 0s;
  -ms-transition: left 400ms linear 0s;
  transition: left 400ms linear 0s;
}
.view section {
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
}

.view section[aria-selected] {
  border: 5px red solid;
}

/* Before */
section { left: -150%; }
/* Now */
section[aria-selected] { left: 0; }
/* After */
section[aria-selected] ~ section { left: +150%; }

/* Incremental elements */

/* By default, visible */
.incremental > * { opacity: 1; }

/* The current item */
.incremental > *[aria-selected] { opacity: 1; }

/* The items to-be-selected */
.incremental > *[aria-selected] ~ * { opacity: 0; }

/* The progressbar, at the bottom of the slides, show the global
   progress of the presentation. */
#progress-bar {
  height: 2px;
  background: #AAA;
}
