section {
  color: hsl(282, 24%, 8%);
  padding: 20px;
}

li {
  margin-top: 0.5em;
}

.question {
  line-height: 300px;
}

.chapter {
  background-color: black;
  color: white;
}

.chapter h1 {
  line-height: 300px;
}

.check {
  color: green;
}

.nay {
  font-weight: bold;
  color: rgb(170, 0, 0);
}

.yay {
  font-weight: bold;
  color: #13DAEC;
}

.em {
  font-weight: bold;
}

#ml-dark {
  background-color: hsl(0, 0%, 11%);
  color: white;
}

#ml-images {
  width: 700px;
  margin: 20px auto 0 auto;
}

#ml-images img {
  width: 300px;
  height: 300px;
}

#clyon-image {
  float: left;
}

#math-image {
  float: right;
}

#ml-fun {
  background-color: hsl(230, 85%, 66%);
  background-image: url("images/fun-ml.png");
  background-size: contain;
}

#ml-fun h1 {
  margin-top: 160px;
}

#NaN {
  font-weight: bold;
  color: hsl(267, 98%, 49%)
}
