section {
  color: hsl(282, 24%, 8%);
  padding: 20px;
}

.content {
  margin-left: 50px;
}

.section {
  margin: 20px;
}

a {
  color: #a535b7;
}

#nn-code {
  font-size: 12px;
}

.q {
  margin: 50px;
}

.q:nth-child(2) {
  font-size: 1.1em;
}

.q:nth-child(3) {
  font-size: 1.4em;
}

.subli {
  list-style-type: circle;
  margin-left: 30px;
}

.repo {
  font-size: 26px;
}

.chosen {
  font-weight: bold;
}

.part, .addition {
  margin-left: 50px;
}

.part {
  margin-top: 30px;
}

.part .title {
  margin-bottom: 8px;
}

.small-head {
  width: 74px;
  height: 74px;
}

.question {
  text-align: center;
}

.point {
  padding-top: 200px;
}

.statement {
  line-height: 300px;
}

.chapter {
  background-color: hsl(0, 0%, 10%);
  color: white;
}

.chapter h1 {
  line-height: 300px;
}

.check {
  color: green;
}

.nay {
  font-weight: bold;
  color: rgb(170, 0, 0);
}

.yay {
  font-weight: bold;
  color: hsl(203, 90%, 51%);
}

.em {
  font-weight: bold;
}

#ml-dark {
  background-color: hsl(0, 0%, 11%);
  color: white;
}

#ml-images {
  width: 700px;
  margin: 20px auto 0 auto;
}

#ml-images img {
  width: 300px;
  height: 300px;
}

#clyon-image {
  float: left;
}

#math-image {
  float: right;
}

#ml-fun {
  background-color: hsl(230, 85%, 66%);
  background-image: url("images/fun-ml.png");
  background-size: contain;
}

#ml-fun h1 {
  margin-top: 160px;
}

.cat-pic {
  display: block;
  border: 4px solid #CCC;
  border-radius: 3px;
}

#big-cat {
  width: 400px;
  margin: 0 auto;
}

#crops {
  width: 430px;
  margin: 0 auto;
}

#cat-head {
  width: 200px;
  float: left;
}

#no-cat {
  width: 200px;
  float: right;
}

#cd-header {
  margin-top: 100px;
  margin-bottom: 70px;
}

#cat-detection {
  background-color: hsl(0, 0%, 10%); /* hsl(46, 23.3%, 14.3%); */
  color: hsl(198, 100%, 67%); /* hsl(200, 97%, 74%); */
}

#detection-cat {
  display: block;
  width: 320px;
  margin: 0 auto;
  border: 5px solid #333;
  border-radius: 3px;
}

#question-cat {
  display: block;
  margin: 140px auto 0 auto;
  border: 7px solid #333;
  border-radius: 3px;
}

.cat-q {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 14px;
}
